<h2>Bienvenue à toi sur Song Of The Moment</h2>


<p>Merci de confirmer ton adresse mail en cliquant sur le lien suivant :</p>
<a href="{{ signedUrl|raw }}">Confirmer mon Email</a>
<p>Le lien exprire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.</p>

