<a class="logo-sotm-text navbar-brand d-flex flex-row align-items-center" href="{{ path('app_home') }}">
    <h1>Song of the moment</h1>
</a>

<h2>Bienvenue à toi sur Song Of The Moment</h2>


<h5>Merci de confirmer ton adresse mail en cliquant sur le lien suivant :</h5>
<a href="{{ signedUrl|raw }}">Confirmer mon adresse Email</a>
<h5>Le lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.</h5>

