{% extends "base.html.twig" %}
{% block title %}
    Ooops Erreur !!!
{% endblock %}

{% block styleBody %}class="back-home"
{% endblock %}

{% block body %}
    <main class="back-blur">
        <div id="back-hover">
        <div class="justify-content-center align-items-center float-xxl-start float-xxl-none mt-5">

            <h1 class="d-flex justify-content-center text-white text-center pt-5">
                Ooops Erreur !!!!
            </h1>

            <h2 class="d-flex justify-content-center text-white text-center py-5">
                hummmm... il semblerait que quelque chose se soit mal passé...
            </h2>
            <a class="d-flex justify-content-center button btn mx-auto" href="{{ path('app_home') }}">Retour à l'accueil</a>
        </div>
        </div>
    </main>
{% endblock %}
