{% extends 'base.html.twig' %}

{% block title %}
Plop
{% endblock %}

{% block body %}
    <main class="form-main container">
        {{ form_start(formPlaylist, {'attr': {'class': 'form-song d-flex flex-column'}}) }}
        {{ form_widget(formPlaylist) }}
        {{ form_end(formPlaylist) }}
    </main>
{% endblock %}

