<div class="d-flex flex-column justify-content-center align-items-center">
    {{ form_start(form, {'attr': {'class': 'form-song d-flex flex-column'}}) }}
    {{ form_widget(form) }}
    <button class="button btn align-self-center">{{ button_label|default('Enregister') }}</button>
    {{ form_end(form) }}
</div>
