.playlist-line {
    cursor: pointer;
    //margin: 0 50px 0 50px;
    &:hover {
        background-color: rgba(80, 80, 80, 0.401);
    }
}

.playlist-line-icon {
    font-size: 25px;
    color: white;
    padding: 2px 5px 2px 5px;
    border: 1px solid transparent;
    &:hover {
        color: #212529;
        background-color: white;
        border: 1px solid white;
        border-radius: 50px;
    }
}

.photo-song-playlist {
    width: 60px;
    height: 60px;
}

#Album-photo-id {
    width: 40px;
    height: 40px;
}

.text-song-playlist {
    padding-left: 20px;
}

i.heart-favorite {
    font-size: 30px;
    color: white;
}

.thead-playlist {
    border-bottom: 1px solid rgb(72, 72, 72);
}

.infos-playing {
    min-width: 400px;
    height: 45px;
}

.list-song {
    margin-bottom: 90px;
}

#Infos-id {
    text-align: center;
    padding: 0 0 2px 0;
    height: 29px;
}

#favorites {
    text-decoration: none;
}

.favorites-card {
    background: #212529;
    width: 385px;
}

.favorites-icon {
    font-size: 40px;
    color: #ad0505;
}

.favorites-link {
    padding: 1.6rem;
    width: 305px;
    color: white;
    &:hover {
        color: #ad0505;
    }
}

.dropdown-icon {
    width: 40px;
}

