.song-on-playlist {
    cursor: pointer;

    &:hover {
        background-color: rgba(80, 80, 80, 0.401);
    }
}

.photo-song-playlist {
    width: 40px;
    height: 40px;
}

#Album-photo-id {
    width: 40px;
    height: 40px;
}

.playlist {
    padding: 15px;
    width: 400px;
    max-height: 540px;
    overflow-y: scroll;
}

.text-song-playlist {
    padding-left: 20px;
}

i.heart-favorite {
    font-size: 30px;
    color: white;
}

.thead-playlist {
    border-bottom: 1px solid rgb(72, 72, 72);
}

.infos-playing {
    min-width: 400px;
    height: 45px;
}

.list-song {
    margin-bottom: 90px;
}

#Infos-id {
    text-align: center;
    padding: 0 0 2px 0;
    height: 29px;
}