form.form-song.d-flex.flex-column {
    width: 70%;
}

.button {
    background-color: white;
    font-size: 20px;
    width: 220px;
    margin: 30px;

    &:hover {
        background: rgba(0, 0, 0, 0.5);
    }
}

.form-main {
    margin-top: 160px !important;
}

.form-main-login {
    margin-top: 220px !important;
}

.form-label {
    margin-top: 8px;
}

input#registration_form_agreeTerms {
    margin: 10px;
}

.help-text {
    color: #adb5bd;
    font-size: 18px;
    font-style: italic;
}
