nav.navbar {
    width: 100%;
    position: absolute;
    z-index: 1;
}

a.nav-link {
    color: white;
    cursor: pointer;

    &:hover {
        color: white;
    }
}

.menu-toggler-icon {
    width: 40px;
    height: 40px;
    fill: white;
}

button.navbar-toggler {
    border: 0;
    padding: 0;

    &:focus {
        box-shadow: none !important;
    }
}

a.logo-sotm-text.navbar-brand {
    color: white;
}

.sotm-text-p {
    margin: 0 8px 0 8px;
    text-align: center;
}

.nav-link {
    font-size: 21px;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-link-admin {
    font: 500 21px Dosis;
}

li.nav-item {
    text-align: right;
}

.navbar-svg {
    width: 24px;
    height: 24px;
    fill: white;
}
