.search-buttton {
    position: absolute;
    border: 0px;
    padding: 8px;
    margin-right: 6px;
}

.search-svg {
    width: 30px;
    height: 30px;
    fill: white;
}

.search-input {
    background-color: transparent;
    border-radius: 20px;
    border-width: 2px;
    font-size: 20px;
    box-shadow: 0px;


    &::placeholder {
        margin-right: 6px;
        color: white;
    }

    &:active {
        background-color: transparent;
        outline: none !important;
        box-shadow: none;
        border-color: white;
    }

    &:focus {
        background-color: transparent;
        color: white;
        outline: none !important;
        box-shadow: none;
        border-color: white;
    }
}

.sticky-top {
    top: 2em;
}