.logo-pannel-admin {
    fill: black;
    height: 24px;
    width: 24px;
}

.logo-pannel-youtube {
    fill: #FF0000;
    height: 24px;
    width: 24px;
}

.text-infos-admin {
    color: black;
    margin: 6px 0px 6px 20px;
}