.logo-pannel-admin {
    fill: black;
    height: 24px;
    width: 24px;
}

.logo-pannel-youtube {
    fill: #FF0000;
    height: 24px;
    width: 24px;
}

.text-infos-admin {
    color: black;
    margin: 6px 0 6px 20px;
}

.logo-approve {
    background-color: #14A44D;
    padding: 5px;
    border-radius: 50px;
    fill: #FFFFFF;
    height: 32px;
    width: 32px;
}

.button-approved, .button-unapproved, .button-addSong {
    color: white;
    font-size: 20px;
    width: 220px;
    margin: 10px;

    &:hover {
        background: rgba(0, 0, 0, 0.5);
    }
}

.button-approved {
    background-color: #14A44D;
}

.button-unapproved {
    background-color: #E4A11B;
}

.button-addSong {
    background-color: #3B71CA;
}

