<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>
            {% block title %}Song of the Moment
            {% endblock %}
        </title>
        <meta charset="UTF-8">
        <meta
            name="description"
            content="Song of the moment est un site pour sauvegarder et gérer la musique qui a traversé notre vie le temps d'un moment, il offre un accès ouvert à la culture musical par sa gratuité.">
        <meta name="keywords" content="song, music, moment, playlist, favorite, song of the moment, sotm"/>
        <meta name="robots" content="index,follow" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{{ asset('build/images/icons/favicon.png') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <body {% block styleBody %} {% endblock %}>
        {% block navbar %}
            {% include '_navbar.html.twig' %}
        {% endblock %}

        {% block body %}{% endblock %}

        {% include '_flash_message.html.twig' %}


        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
