<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Song of the Moment
            {% endblock %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link
            rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <body {% block styleBody %} {% endblock %}>
        {% block navbar %}
            {% include '_navbar.html.twig' %}
        {% endblock %}

        {% block body %}{% endblock %}

        <div id="flash-messages">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div id="flash" class="alert border border-start-0 border-end-0 border-bottom-0 border-5 border-{{ label }} bg-dark position-absolute rounded-0 bottom-0 end-0 mb-5" role="alert">
                        <h5 class="text-white">{{ message|trans|raw }}</h5>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
