
<div id="playlistContent">
{% for playlist in app.user.playlists %}
    <div class="d-flex flex-column">
        <a id="playlist" href="{{ path('app_user_playlist_show', {'name': playlist.name}) }}">
            {{ playlist.name }}
        </a>
    </div>
{% endfor %}
</div>
