{% extends 'base.html.twig' %}

{% block title %}Mes Sons
{% endblock %}

{% block styleBody %}class="back-home"
{% endblock %}

{% block body %}
    <div id="back-hover">
        <main class="main-favorite">

            <div class="d-flex justify-content-around">

                <a id="favorites" href="{{ path('app_user_favorite') }}">
                    <h2>Coup de coeur</h2>
                </a>

            </div>

            <div class="list-song row col-12 m-0 d-flex justify-content-center" id="favoriteContent">
                {{ dump() }}
            </div>
        </main>
    </div>
{% endblock %}
